$dark-blue: hsl(233, 47%, 7%); 
$highlight: hsl(277, 64%, 61%);
$card-background: hsl(244, 38%, 16%);

$white: hsl(0, 0%, 100%);
$paragraph: hsla(0, 0%, 100%, 0.75);
$stats: hsla(0, 0%, 100%, 0.6);

$font-family-inter: "Inter", helvetica, sans-serif;
$font-family-lexend: 'Lexend Deca', sans-serif;